<div class="container">
  <span class="badge badge-primary">Mandatory</span>
  <div class="alert alert-success" role="alert">
      Polio (2 month old, 4 month old, 10-12 month old, 5-6 years old)
  </div>
  <span class="badge badge-primary">Mandatory</span>
  <div class="alert alert-danger" role="alert">
      Diphtheria/Tetanus (2 month old, 4 month old, 10-12 month old, 5-6 years old, 14-15 years old)
  </div>
  <span class="badge badge-primary">Mandatory</span>
  <div class="alert alert-success" role="alert">
      Hepatitis B (2 month old, 4 month old, 10-12 month old)
  </div>
  <span class="badge badge-primary">Mandatory</span>
  <div class="alert alert-success" role="alert">
      Pertussis (2 month old, 4 month old, 10-12 month old, 5-6 years old)
  </div>
  <span class="badge badge-primary">Mandatory</span>
  <div class="alert alert-success" role="alert">
      Pneumococcal (2 month old, 4 month old, 10-12 month old)
  </div>
  <span class="badge badge-primary">Mandatory</span>
  <div class="alert alert-success" role="alert">
      Measles (12-15 month old, 5-6 years old)
  </div>
  
  <span class="badge badge-secondary">Optional</span>
  <div class="alert alert-warning" role="alert">
      Influenza
  </div>
</div>