<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/medical-history">Medical History</a>
      <a class="nav-item nav-link" href="/medical-record">Medical record</a>
      <a class="nav-item nav-link" href="/vaccination-status">Vaccination Status</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/CompassHXM" target="_blank">
        <i class="fab fa-github-square"></i>
      </a>
      <a class="nav-item nav-link" href="mailto:huangxm9051@gmail.com" target="_blank">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <ng-content></ng-content>
</div>